<div class="container clearfix">
		<div id= "logo" class="grid_4"
			<object data="img/log.svg" type="image/svg+xml" class="logo">
				<!--[if lte IE 8] -->
		<%= image_tag("logo.gif", alt: "Smells like Bakin") %> 
		    
			    <!--![endif-->
			</object>
		</div>
		<div id="nav" class="grid_8 omega">
			<ul>
				<li class="home"><%= link_to "Home", root_path %></li> 
				
				<li class="pricing"><%= link_to "Cupcake & Prices", purchase_pricing_path %></li>
				<li class="locations"><%= link_to "Locations", locations_path %></li>
				<li class="contact"><%= link_to "Contact Us", new_user_path %></li>
			</ul>
		</div>
</div>