<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

<div class="container clearfix">

<%= yield %>

</div>
		
	<%= render 'layouts/footer' %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script src="matchmedia.js"></script>
<script src="picturefill.js"></script>
<script src="jquery.fitvids.js"></script>
<script src="jquery.fittext.js"></script>

	<script>
		// Target your .container, .wrapper, .post, etc.
		$("#featured-video").fitVids();
	</script>

		<script type="text/javascript">

			$(".fittext").fittext(2.2);

		</script>


</body>
</html>
